@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Work+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Merriweather, "work Sans";
    font-weight: 300;
    color: #3a3a3a;
}

html,
body {
    overflow-x: hidden;
}

/* headings and logo */

h1,
h2 {
    font-family: Merriweather, "work sans";
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    color: #252525;
}

#logo {
    float: left;
    font-size: 125%;
    margin-left: 1.5rem;
    font-weight: bold;

}

/* navigation links */

#menu {
    font-size: 110%;
}

a {
    text-decoration: none;

}


#menu,
#logo {
    line-height: 75px;

}

#menu li {
    float: right;
    margin-right: 1.5rem;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image */

.container {
    position: relative;
    display: inline-block;
}

.responsive {
    width: 100%;
    height: auto;
    border-radius: 6%;

}



/* Text box in hero image */

.text-block {
    position: absolute;
    top: 34%;
    background-color: white;
    padding: 2.5%;
    border-radius: 6%;
    width: 25%;
    left: 2.5%;
    text-align: center;

}

.button1 {
    padding: 5%;
    text-align: center;
    font-size: 0.938rem;
    cursor: pointer;
    border-radius: 25%;
    background-color: #52527a;
    color: white;


}

.button1:hover {
    background-color: #dfc6c1;
}

/* About us Section */

.image1 {
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.row {
    display: flex;
}

/* Image 1 */
.column1 {
    float: left;
    width: 25%;
    padding: 2%;
}

/* Content for about us section */
.column2 {
    float: right;
    width: 75%;
    padding: 2%;
}

.heading1 {
    font-size: 1.25rem;
    font-weight: 900;
    text-align: center;
    
}

.heading2 {
    font-size: 1rem;
    font-weight: 900;
    text-align: center;
}

.paragraph1 {
    font-size: 1.35rem;
    text-align: center;
    padding-top: 1.5%;
    line-height: 190%;
    font-weight: bold;

}

.paragraph1 li {
    list-style-type: none;
    line-height: 45px;
}

/*  Sign up Field */
.signup__field {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
    align-items: center;
}

.signup__field:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 0px;
    height: 2px;
    bottom: 0;
    right: 50%;
    transform: translateX(-50%);
    transition: all 0.4s ease;
}

.signup__field:hover:before {
    width: 100%;
}

/*  Input */
.signup__input {
    text-align: center;
    width: 20%;
    height: 100%;
    font-size: 1.2rem;
    padding: 10px 2px 0;
    border-bottom: 2px solid white;
    border-radius: 15px;
}

/*  Label */
.signup__label {
    color: white;
    position: absolute;
    top: 67%;
    transform: translateY(45%);
    font-size: 1.2rem;
    transition: all 0.3s ease;
}


/*  Sign Up Button */
.signup-btn {
    background: #52527a;
    color: white;
    padding: 12px 0;
    font-size: 1.2rem;
    border-radius: 25px;
    cursor: pointer;
    width: 20%;
}

.signup-btn:hover {
    background: #dfc6c1;
}

.form-style {
    background-color: #83859a;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Footer with social media links */
.footer {
    width: 100%;
    background-color: white;
    /*Changed footer color to white*/
    color: black;
    text-align: center;
    font-family: Merriweather;
    font-size: 50px;
}

.footer a {
    padding: 5px;

}

.contact-us {
    font-size: 30px;
    text-align: center;
}

.contact-us a {
    color: black;
}

/* Responsivness for large screens*/
@media screen and (max-width: 1200px) {

    .image1 {
        height: 687px;
    }

    .column1 {
        width: 50%;
    }

    .column2 {
        float: unset;
        width: 100%;
        padding: unset;
    }

    .paragraph1 {
        Line-height: 140%;
        font-size: 1.1rem;
        padding: 7px;
    }

    .heading1 {
        padding-top: 10px;
    }


}



/* Responsivness for tablets and medium sized screens*/
@media screen and (max-width: 768px) {

    .image1 {
        height: 687px;

    }

    .column1 {
        width: 50%;
    }

    .column2 {
        float: unset;
        width: 100%;
        padding: unset;
    }

    .paragraph1 {
        Line-height: 140%;
        font-size: 1.1rem;
        padding: 7px;
    }

    .heading1 {
        padding-top: 10px;
    }

    /*fix sign up form*/
    .signup__input {
        width: 30%;
    }

    .signup-btn {
        width: 30%;
    }

}

/* Responsivness for small screens*/
@media screen and (max-width: 640px) {

    #logo {
        float: none;
        text-align: center;
        font-size: unset;
        line-height: 35px;
        margin-left: 0;
    }

    #menu {
        float: none;
        text-align: center;
        line-height: 45px;
        font-size: unset;
    }

    #menu li {
        float: none;
        display: inline-block;
        padding: 0.313rem;
        margin-right: 0;
    }

    /* Responsivness for text box */
    .text-block {
        position: unset;
        width: 100%;
    }

    .button1 {
        padding: 3%;
    }

    /* Fixed image width in column 1 to full screen on smaller devices */
    .row {
        display: unset;
    }

    .column1 {
        float: none;
        width: 95%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .column2 {
        float: unset;
        width: 100%;
        padding: unset;
    }

    .paragraph1 {
        line-height: 140%;
        padding: 3%;
        padding-top: 0;
    }

    .image1 {
        height: 260px;
    }

    /*fix sign up form*/
    .signup__input {
        width: 45%;
    }

    .signup-btn {
        width: 45%;
    }

    .contact-us {
        font-size: 15px;
    }

    .footer {
        font-size: 30px;

    }
}