@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Work+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Merriweather, work Sans;
    font-weight: 300;
    color: #3a3a3a;
}

html,body{
    overflow-x: hidden;
    }

/* headings and logo */

h1, h2 {
    font-family: Merriweather, work;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    color: #252525;
}

#logo {
    float: left;
    font-size: 125%;
    margin-left: 1.5rem;
    font-weight: bold;
    
}

/* navigation links */

#menu{
    font-size: 110%;
}

a { 
    text-decoration: none;

}


#menu, #logo {
  line-height: 75px;
  
}

#menu li {
    float: right;
    margin-right: 1.5rem;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image */

.container{
    position: relative; 
    display: inline-block;
}

.responsive {
    width: 100%;
    height: auto;
    border-radius: 6%;

}



/* Text box in hero image */

.text-block {
    position: absolute;
    top: 34%;
    background-color: white;
    padding: 2.5%;
    border-radius:6%;
    width: 25%;
    left: 2.5%;
    text-align: center;

  }

  .button1{
    padding: 5%;
    text-align: center;
    font-size: 0.938rem;
    cursor: pointer;
    border-radius: 25%;
    background-color: #52527a;
    color:white;
   
      
  }

  .button1:hover {
    background-color: #dfc6c1; 
   }
 
   /* About us Section */
   
   .image1 {
    width:100%;
    height:auto;
    padding: 1%;
    border-radius: 30px;
}

.row {
    display: flex;
}
 /* Image 1 */
.column1 {
 float: left;
 width: 25%;
 padding: 2%;  
}
 
/* Content for about us section */
.column2{
    float: right;
    width: 75%;
    padding: 2%;  
   }
   
   .heading1 {
       font-size: 1.25rem; 
       font-weight: 900;
       text-align: center;
   }

   .heading2 {
    font-size: 1rem; 
    font-weight: 900;
    text-align: center;
}
   
   .paragraph1 {
       font-size: 1.35rem;
       text-align: center;
       padding-top: 1.5%;
       line-height: 190%;
       font-weight: bold;
       
   }

   .paragraph1 li {
    list-style-type: none;
    line-height: 45px;
   }


   /* Content list */
   .second-list {
    float: right;
    padding-right: 250px;
    font-size:xx-large;

   }
   .first-list {
    float: left;
    padding-left: 250px;
    Font-size:xx-large;
   }

   /* Sign up form */
   .sign-up-form{
    padding: 50px;
    text-align: center;
    font-size: x-large;
    color: rgb(241, 234, 234);
    margin-bottom: 2%;
   }
   
   .form-section{
    background-color: #252525;
   }

   /* Footer with social media links */
   .footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: white; /*Changed footer color to white*/
	color: black;
	text-align: center;
	font-family: Merriweather;
}

.fab-fa-instagram{
    font-size:30px;
}


 /* Responsivness for tablets and medium sized screens*/
 @media screen and (max-width: 768px) {

    .image1 {
        height: 687px;
        
    }

    .column1 {
        width: 50%;
    }
    
    .column2 {
        float: unset;
        width: 100%;
        padding: unset;
    }

    .paragraph1 {
        Line-height: 140%;
        font-size: 1.1rem;
        padding: 7px;
    }

    .heading1 {
        padding-top: 10px;
    }


 }
   
  /* Responsivness for small screens*/
   @media screen and (max-width: 640px) {

    #logo {
        float: none;
        text-align: center;
        font-size: unset;
        line-height:35px;
        margin-left: 0;
    }

    #menu {
        float: none;
        text-align: center;
        line-height: 45px;
        font-size: unset;
    }

    #menu li {
        float: none;
        display: inline-block;
        padding: 0.313rem;
        margin-right: 0;
    }

     /* Responsivness for text box */
     .text-block {
        position: unset;
        width: 100%;
      }

      .button1{
        padding: 3%;
      }
      /* Fixed image width in column 1 to full screen on smaller devices */
      .row {
        display: unset;
    }
    
    .column1 {
        float: none;
        width: 95%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .column2 {
        float: unset;
        width: 100%;
        padding: unset;

    }
    .paragraph1 {
        line-height: 140%;
        padding: 3%;
        padding-top: none;
    }

    .image1 {
      height:260px;
        
    }
    
    }



