@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Work+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* headings and logo */

h1, h2 {
    font-family: Merriweather, work;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    color: #252525;
}

#logo {
    float: left;
    font-size: 125%;
    margin-left: 1.5rem;
    font-weight: bold;
    
}

/* navigation links */

#menu{
    font-size: 110%;
}

a { 
    text-decoration: none;

}


#menu, #logo {
  line-height: 75px;
  
}

#menu li {
    float: right;
    margin-right: 1.5rem;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image */

.container{
    position: relative; 
    display: inline-block;
}

.responsive {
    width: 100%;
    height: auto;

}

/* Text box in hero image */

.text-block {
    position: absolute;
    top: 34%;
    background-color: white;
    padding: 2.5%;
    border-radius:6%;
    border-radius: 6%;
    width: 25%;
    left: 2.5%;
  }